/*Will have the make the line below custom by screen width*/

.reference {
    width: 60%;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.reference .header{
    padding-top: 3%;
    height: 7%;
    font-weight: bold;
    line-height: 150%;
}


img.regular{
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

img.regular.materialboxed.responsive-img.initialized.active {
    max-height: 1500px;
}

.container{

    /*font-size: 1.2rem;*/
}