.myself .card
{
    /*background-color: rgba(0, 0, 0, 0.1);*/

    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}

.myself .me_nsf
{
    float: left;
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.myself .title
{
    font-size: 1.4rem;
}

.myself .description
{
    font-size: 1.2rem;
}

/*.myself #brain
{
    background-image: url('../img/BRAIN.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
*/
.myself #content
{
    /*float: right;*/
    /*padding-left: 20%;*/
    margin-left: 25%;
}
.myself p.conclusion
{
    /*padding-top: 3%;*/
    /*width: 75%;*/
    font-size: 1.4rem;
}

.myself a:hoover
{
    font-size: 1.5rem;
}
/*.myself .summary{
    padding-left: 5%; 
}*/


/*
.about .col
{
    margin-bottom: 24px;
}

.about .card
{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.2rem;

}

.about p {
    font-weight: 400;
    font-size: 1.2rem;
}

.about .card-action
{
    text-align: center;
}

.about a:hover {
    font-weight: 900;

}*/